@model WebApp.DTO_Models.LoginView

@{
    ViewData["Title"] = "Index";
}

<h2>Login</h2>


<form asp-action="Login">
    <div>
        <label asp-for="CandidateId">Candidate ID</label>
        <input asp-for="CandidateId" type="number" />
    </div>

    <div>
        <input type="submit" value="Log In" />
    </div>
</form>

