@model WebApp.DTO_Models.LoginView

@{
    ViewData["Title"] = "Index";
}

<div><h2 class= "center">Login</h2>


<form method="post">
    <div class= "center">
        <label asp-for="CandidateId">Candidate ID</label>
        <input asp-for="CandidateId" type="number" />
    </div>
    
    <div class= "center">
        <input type="submit" value="Log In" />
    </div>
</form>
    </div>
