@model MyDatabase.Models.CandidateExamination
<h1>Start Exam</h1>
<div>

    <a asp-action="StartExamination" asp-route-candidateExamId="@Model.CandidateExaminationId">Start Exam</a>
    <p>Number: @Model.ExamCode</p>
</div>
