@model WebApp.DTO_Models.EditQuestionCertificateView



<h2>Add Certificates</h2>

<form asp-action="AddQuestionCertificatePost">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="QuestionId" />
    <div class="form-group form-label mt-4" id="topicSelect">
        <label class="form-label mt-4" asp-for="SelectedCertificateIds"></label>
        <select class="form-select w-25" asp-for="SelectedCertificateIds" asp-items="Model.CertificatesList"></select>
        <span asp-validation-for="SelectedCertificateIds" class="text-danger"></span>

        <div class="form-group mt-3">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>
