@model WebApp.DTO_Models.QuestionView

@{
    ViewData["Title"] = "Create";


}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="container p-3">
    <div>
        <form asp-action="Create">
            <script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>
            
            <div class="form-group">
                <label asp-for="QDisplay" class="control-label"></label>
                <input asp-for="QDisplay" class="form-control" />
                <span asp-validation-for="QDisplay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty.SelectedId"></label>
                <select asp-for="Difficulty.SelectedId" asp-items="@Model.Difficulty.Difficulties"></select>
                <span asp-validation-for="Difficulty.SelectedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @for (int i = 0; i < 4; i++)
                {
                <div class="form-group">
                    <label asp-for="AnswerViews[i].IsCorrect" class="control-label"></label>
                    <input asp-for="AnswerViews[i].IsCorrect" class="form-check-input" type="checkbox" />
                    <label asp-for="AnswerViews[i].Answer" class="control-label">Is correct</label>
                    <input asp-for="AnswerViews[i].Answer" class="form-control"/><br />
                    <span asp-validation-for="AnswerViews[i].Answer" class="text-danger"></span>
                </div>
                }
            </div>
            <div class="form-group form-label mt-4" id="certificatesForm">
                <label asp-for="CertificatesView.SelectedCertificateIds"></label>
                <select asp-for="CertificatesView.SelectedCertificateIds" asp-items="Model.CertificatesView.CertificateList"></select>
                <span asp-validation-for="CertificatesView.SelectedCertificateIds" class="text-danger"></span>
            </div>

@* Test HasTopic Checkbox with dropdown accordion
*@            


<div class="form-group">
    <div class="form-check">
        <input asp-for="HasTopic" class="form-check-input" type="checkbox" id="hasTopic">
        <label class="form-check-label" for="hasTopic">
            This question has a topic
        </label>
    </div>
</div>
<div class="form-group form-label mt-4" id="topicSelect">
    <label asp-for="TopicView.SelectedTopicIds"></label>
    <select asp-for="TopicView.SelectedTopicIds" asp-items="Model.TopicView.TopicsList"></select>
    <span asp-validation-for="TopicView.SelectedTopicIds" class="text-danger"></span>
</div>
@*End of test
*@

@*----Old dropdown for topics----
    <div class="form-group">
        <label asp-for="TopicView.SelectedTopicIds"></label>
        <select asp-for="TopicView.SelectedTopicIds" asp-items="Model.TopicView.TopicsList"></select>
        <span asp-validation-for="TopicView.SelectedTopicIds" class="text-danger"></span>
</div>*@
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
  </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    document.getElementById("hasTopic").onchange = function() {
        var topicSelect = document.getElementById("topicSelect");
        if (this.checked) {
            topicSelect.style.display = "block";
        } else {
            topicSelect.style.display = "none";
        }
    };

    //function toggleCertificates() {
    //    if ($("#hasTopic").is(":checked")) {
    //        $("#certificatesForm").hide();
    //    }
    //    else {
    //        $("#certificatesForm").show();
    //    }
    //}
</script>

<script>
          $(document).ready(function() {
        toggleCertificates();

        $("#hasTopic").change(function() {
            toggleCertificates();
        });

        function toggleCertificates() {
            if ($("#hasTopic").is(":checked")) {
                $("#certificatesForm").hide();
            }
            else {
                $("#certificatesForm").show();
            }
        }
    });

 </script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

