@model WebApp.DTO_Models.QuestionView

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="QDisplay" class="control-label"></label>
                <input asp-for="QDisplay" class="form-control" />
                <span asp-validation-for="QDisplay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty.SelectedId"></label>
                <select asp-for="Difficulty.SelectedId" asp-items="@Model.Difficulty.Difficulties"></select>
                <span asp-validation-for="Difficulty.SelectedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @for (int i = 0; i < 4; i++)
                {
                <div class="form-group">
                    <label asp-for="AnswerViews[i].IsCorrect" class="control-label"></label>
                    <input asp-for="AnswerViews[i].IsCorrect" class="form-check-input" type="checkbox" />
                    <label asp-for="AnswerViews[i].Answer" class="control-label">Is correct</label>
                    <input asp-for="AnswerViews[i].Answer" class="form-control"/><br />
                    <span asp-validation-for="AnswerViews[i].Answer" class="text-danger"></span>
                </div>
                }
            </div>
            <div class="form-group">
                <label asp-for="CertificatesView.SelectedCertificateIds"></label>
                <select asp-for="CertificatesView.SelectedCertificateIds" asp-items="Model.CertificatesView.CertificateList"></select>
                <span asp-validation-for="CertificatesView.SelectedCertificateIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopicView.SelectedTopicIds"></label>
                <select asp-for="TopicView.SelectedTopicIds" asp-items="Model.TopicView.TopicsList"></select>
                <span asp-validation-for="TopicView.SelectedTopicIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

