@model WebApp.DTO_Models.EditQuestionView

@{
    ViewData["Title"] = "Edit";
}
<script src="https://cdn.ckeditor.com/ckeditor5/35.3.1/classic/ckeditor.js"></script>
<script src="https://cdn.ckbox.io/CKBox/1.3.0-rc.0/ckbox.js"></script>

<h1>Edit</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EditQuestionId" />
            <div class="form-group">
                <label asp-for="EditQuestionDisplay" class="control-label"></label>
                <textarea asp-for="EditQuestionDisplay" class="form-control" id="editor"></textarea>
                <span asp-validation-for="EditQuestionDisplay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditDifficultyLevel" class="control-label">Current Difficulty Level</label>
                <input asp-for="EditDifficultyLevel" class="form-control" disabled value="@Model.EditDifficultyLevel" />
                <span asp-validation-for="EditDifficultyLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditDifficulty.SelectedId" class="control-label fw-bold">Difficulty</label>
                <select asp-for="EditDifficulty.SelectedId" class="form-select" asp-items="@Model.EditDifficulty.Difficulties"><option readonly selected class="text-muted">Choose difficulty level</option></select>
                <span asp-validation-for="EditDifficulty.SelectedId" class="text-danger"></span>
            </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

