@model WebApp.DTO_Models.EditQuestionCertificateView

@{
    ViewData["Title"] = "Index";
}

<h1>Edit Certificates</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="QuestionId" />

<p>
    <a asp-action="AddQuestionCertificate" asp-route-id="@Model.QuestionId">Add Certificate</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Certificate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Certificates)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.CertificateId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
