@model MyDatabase.Models.QuestionPossibleAnswer

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSelectedAnswer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuestionPossibleAnswerId" />
            <div class="form-group">
                <label asp-for="PossibleAnswer" class="control-label"></label>
                <input asp-for="PossibleAnswer" class="form-control" />
                <span asp-validation-for="PossibleAnswer" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCorrect" /> @Html.DisplayNameFor(model => model.IsCorrect)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
