@model WebApp.DTO_Models.Final.CertificateExaminationView

<head>
    <link rel="stylesheet" href="~/css/QuestionDetails.css" asp-append-version="true" />
</head>
<div class="left"><h2>Examination Id: @Model.ExaminationId</h2></div>

<table class="table table-hover table-light">
    <tr>
        <th>Certificate Title</th>
        <td>@Model.CertificateTitle</td>
    </tr>
    
            @foreach (var question in Model.Questions)
            {
            <tr>
                <th>Question @question.QuestionId</th>
                <td>@Html.Raw(question.QuestionDisplay)</td>
            </tr>
            }
            
    
</table>

    <div>
        <a asp-action="CertificateExaminationsIndex">Back to List</a>
    </div>
