@model WebApp.DTO_Models.Final.ExaminationDTO

<head>
    <link rel="stylesheet" href="~/css/divBorder.css" asp-append-version="true" />
</head>

<h1>Select questions for the Examination</h1>
<form asp-action="SaveNewCertificateExamination">
    <input type="hidden" asp-for="CertificateId" />
    @foreach (var item in Model.Questions)
    {
        <div class="border mb-1 col-sm-8 p-1">
            <p>@Html.Raw(item.QuestionDisplay)</p>
            <input type="checkbox" name="selectedQuestions" value="@item.QuestionId" checked="@item.IsSelected" />
        </div>
    }
    <button class="btn btn-primary" type="submit">Submit</button>
</form>