@model WebApp.DTO_Models.Final.ExaminationDTO

<p>Select a Certificate</p>

<form asp-action="SelectQuestionsForExamination">
    <div class="form-group form-label mt-4" id="topicSelect">
        <label asp-for="SelectedCertificateId"></label>
        <select asp-for="SelectedCertificateId" asp-items="Model.CertificatesList"></select>
        <span asp-validation-for="SelectedCertificateId" class="text-danger"></span>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>
