@model WebApp.DTO_Models.Final.ExaminationDTO

<h1>Select a Certificate</h1>

<form asp-action="SelectQuestionsForExamination">
    <div class="form-group form-label mt-4" id="topicSelect">
        <label class="form-label mt-4" asp-for="SelectedCertificateId"></label>
        <select class="form-select w-25" asp-for="SelectedCertificateId" asp-items="Model.CertificatesList"></select>
        <span asp-validation-for="SelectedCertificateId" class="text-danger"></span>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary mt-2" />
        </div>
    </div>
</form>
