@model WebApp.DTO_Models.Final.ExaminationDTO

<h2 class="ce">Update Examination</h2>
<h4><small class="text-muted">Please select the required questions</small></h4>

<form asp-action="UpdateCertificateExamination">
    <input type="hidden" asp-for="CertificateId" />
    <input type="hidden" asp-for="ExaminationId" />

    @foreach (var item in Model.Questions)
    {
        <div style="border: 1px solid black; border-radius: 10px; padding: 10px;">
                <p>@item.QuestionDisplay</p>
                <input class="form-check-input" type="checkbox" name="selectedQuestions" value="@item.QuestionId" checked="@item.IsSelected" />
        </div>
    }
</form>
<br />
<button type="button" class="btn btn-primary btn-lg">Submit</button>

<div>
    <a asp-action="CertificateExaminationsIndex">Back to List</a>
</div>
