<head>
    <link rel="stylesheet" href="~/css/divBorder.css" asp-append-version="true" />
</head>

<div class="border1 center" style="align-content:center; margin-top:200px">
    <h4>Please provide additional information in order to purhase a certificate.</h4><br />
<a class="btn-lg btn-info" style="text-decoration:none;" asp-action="CreateCandidate" asp-controller="Candidates">Proceed</a>

</div>
