@model WebApp.DTO_Models.LoginView

<form method="post" asp-action="SelectCertificate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.CandidateId" />
            <div class="align-items-end col-8 d-flex justify-content-evenly mx-auto">
                <div class="form-group row">
                    <label class="col-form-label" asp-for="SelectedId"></label>
                    <select class="form-control" style="appearance: auto; -moz-appearance: auto;" asp-for="SelectedId" asp-items="@Model.CertificatesList"></select>
                    <span asp-validation-for="SelectedId" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label class="col-form-label" asp-for="ExamDate"></label>
                    <input class="form-control" asp-for="ExamDate" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now" />
                    <span asp-validation-for="ExamDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </form>