@model WebApp.DTO_Models.LoginView

<form method="post" asp-action="SelectCertificate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CandidateId" />
            <div class="form-group">
                <label asp-for="SelectedId"></label>
                <select asp-for="SelectedId" asp-items="@Model.CertificatesList"></select>
                <span asp-validation-for="SelectedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamDate"></label>
                <input asp-for="ExamDate" type="date" value="@DateTime.Now"/>
                <span asp-validation-for="ExamDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>