@page
@using WebApp.Models;
@inject SignInManager<ApplicationUser> signInManager;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<head>
    <link rel="stylesheet" href="~/css/IntroHome.css" asp-append-version="true" />
</head>

<div class="title">
    <h1>Welcome to Team 2555<br /> Certifications EShop</h1>  
    <h5 class="mt-4">The key to unlocking your future is here!</h5>
<div >
        <a type="button" class="btnA" asp-action="Index" asp-controller="GeneralHome"><span></span>Explore Our Certificates</a>
</div>


