@model MyDatabase.Models.CandidateExamination

@{
    ViewData["Title"] = "Delete";
}

<h3 class="mt-4">Are you done remarking this Examination?</h3>
<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExamCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExamCode)
        </dd>
    </dl>

    <form method="post" asp-action="CompleteCandidateExaminationRemarking">
        <input type="hidden" asp-for="CandidateExaminationId" />
        <input type="submit" value="Complete Marking" class="btn btn-success" /> |
        <a asp-action="GetExamQuestions" asp-controller="Marking" asp-route-id="@Model.CandidateExaminationId">Back to List</a>
    </form>
</div>
