@model MyDatabase.Models.CandidateExamination

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you done remarking this Examination?</h3>
<div>
    <h4>Examination</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExamCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExamCode)
        </dd>
    </dl>

    <form method="post" asp-action="CompleteCandidateExaminationRemarking">
        <input type="hidden" asp-for="CandidateExaminationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
