@model WebApp.DTO_Models.Final.ExaminationQuestionView

<body >

<h1 style="margin:0 auto;width:50%">ExamSystem</h1>

<form asp-action="">
            
            <div class="form-group" id="question"></div>
            <div class="form-group" id="answers"></div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
</form>
    <button id="previous">Previous</button>
    <button id="next">Next</button>

</body>


<script src="~/js/exams.js"></script>
<script>

    var questions = @Html.Raw(Json.Serialize(Model.Questions));
    
</script>








